#container {
    width: 55%;
    padding: 20px 40px 10px 40px;
    margin: auto;
    background-color: rgba(255, 255, 255, .5);
}

#container #nav ul {
    list-style-type: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 28px;
}

#container h3 {
    margin: auto;
    padding-top: 45px;
}

#container p {
    font-size: 24px;
}

#container img {
    padding: 2% 1% 2% 3%;
    width: 45%;
    height: 90%;
}

#container .images {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 20px;
}
#container .portrait {
    height:500px;
}
#container .landscape {
    height:300px;
}

@media (max-width: 1100px) {
    #container {
        width:80%;
    }
    #container .portrait {
        height:270px;
    }
    #container .landscape {
        height:175px;
    }
    #container #nav {
        background-color:rgba(0,0,0,.1);
        border-radius:20px;
    }
    #container #nav ul {
        padding-top:50px;
        position:relative;
        width:90%;
        padding-bottom:0;
        margin-bottom:0;
    }
    #container #nav li {
        display:inline;
        padding:0;
        margin:0;
    }
    #container h3 {
        font-size:36px;
    }
    #container img {
        padding: 1% 1% 2% 3%;
    }
}
